[submodule "poly2tri"]
	path = poly2tri
	url = https://github.com/jhasse/poly2tri.git
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "src/polyskel-cpp-port"]
	path = src/polyskel-cpp-port
	url = https://github.com/mandryskowski/polyskel-cpp-port.git
	
[submodule "src/poly2tri-mapshaders"]
	path = src/poly2tri
	url = https://github.com/mandryskowski/poly2tri-mapshaders
