# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app

libpath

# Godot
demo/maps/*

# IDE/Compilation
build/*
buildweb/*
.vscode/*
__pycache__/*
.sconsign.dblite
*.os
demo/mapshaders/*
demo/export/*
demo/bin/*
.clangd
*.osm
*.sgdmap
*.asc