[submodule "src/polyskel-cpp-port"]
	path = extern/polyskel-cpp-port
	url = https://github.com/mandryskowski/polyskel-cpp-port.git
	
[submodule "src/poly2tri-mapshaders"]
	path = extern/poly2tri
	url = https://github.com/mandryskowski/poly2tri-mapshaders
[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/IvanInventor/godot-cpp.git
[submodule "extern/libtiff"]
	path = extern/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "extern/OSM-binary"]
	path = extern/OSM-binary
	url = https://github.com/openstreetmap/OSM-binary.git
[submodule "extern/protobuf"]
	path = extern/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "extern/OSM-binary/"]
	url = https://github.com/mandryskowski/OSM-binary-fix-generation.git
