[submodule "src/polyskel-cpp-port"]
	path = extern/polyskel-cpp-port
	url = https://github.com/mandryskowski/polyskel-cpp-port.git
	
[submodule "src/poly2tri-mapshaders"]
	path = extern/poly2tri
	url = https://github.com/mandryskowski/poly2tri-mapshaders
[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/IvanInventor/godot-cpp.git
